$button-blue: #3673AA;
$button-text-color: white;

.bottom {
    width: 80%;
    max-width: 1152px;
    display: flex;
    flex-flow: column;
    margin: 75px;
    margin-bottom: 25px;

    .subtext {
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.btn {
    background-color: $button-blue;
    color: $button-text-color;
    border-radius: 40px;
    padding: 13px;
    margin: 40px auto;
    font-size: 1.3rem;
    width: 240px;
}

