.container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .carousel {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        margin-top: 30px;

        .images {
            width: 350px;
            border-radius: 10px;

            box-shadow: 0 5px 5px 5px rgba(93, 89, 89, 0.2);

            @media (max-width: 1440px) {
                margin: 0 20px;
            }
        }


    }

    .right-chevron {
        display: inline-block;
        position: relative;
        right: -3%;
        width: 25px;
        height: auto;
    }

    .left-chevron {
        display: inline-block;
        position: relative;
        left: -3%;
        width: 25px;
        height: auto;
    }
}